.cv {
  display: grid;
  grid-template-areas: "ED" "EX" "PH" "SK" "IN";
  gap: 20px;

  &__education {
    grid-area: ED;
  }
  &__experience {
    grid-area: EX;
  }
  &__skills {
    grid-area: SK;
  }
  &__interests {
    grid-area: IN;
  }
  &__photo {
    grid-area: PH;
    margin: 0;
    & img {
      max-width: 90%;
      max-height: 400px;
    }
  }

  & h2 {
    margin: 25px 0;
  }
}

.infoBlock {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "P T" "P L" "P E";
  align-items: baseline;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgb(56, 56, 56);

  &__period {
    grid-area: P;
    padding-right: 10px;
    font-size: 0.7em;
  }

  &__title {
    grid-area: T;
    margin: 0;
  }

  &__location {
    grid-area: L;
    margin: 0;
    font-size: 0.9em;
    text-align: right;
  }

  &__extraInfo {
    grid-area: E;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.3em;
  }
}

// Media queries
@media screen and (min-width: 769px) {
  .cv {
    grid-template-areas: "ED ED" "SK PH" "EX EX" "IN .";

    &__photo {
      width: 35vw;
    }
  }
  .infoBlock {
    border: none;
    &__period {
      text-align: right;
      padding: 0 15% 0 0;
    }

    &__location {
      text-align: left;
      padding: 0 0 0 5%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .cv {
    grid-template-columns: 30% 70%;
    grid-template-areas: "PH ED" "EX EX" "SK IN";

    &__photo {
      width: fit-content;
      & img {
        margin: 30px 0 0 0;
      }
    }
  }
}
