.profile {
  display: grid;
  grid-template-areas: "S" "M" "E" "B";
  &__text {
    &--start {
      grid-area: S;
    }
    &--end {
      grid-area: E;
    }
  }

  &__img {
    max-width: 100%;
    margin: 0 auto;
    &--mart {
      grid-area: M;
      border-radius: 50%;
      padding: 1em;
    }
    &--bike {
      grid-area: B;
      max-height: 200px;
      margin-bottom: -40px;
    }
  }
}

@media screen and (min-width: 769px) {
  .profile {
    grid-template-areas: "S M" "E E" "B B";

    &__img {
      &--mart {
        align-self: center;
      }
      &--bike {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .profile {
    grid-template-areas: "S M" "E M" "B B";

    &__img {
      &--mart {
        max-width: 350px;
      }
    }
  }
}
